<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link  rel="stylesheet" href="/style.css">
   <script src="/angular.min.js" ></script>  
  <script src="/script.js" ></script>
    <title >Rosewood Society</title>
 </head>
  
  <body ng-app="HousingApp">
    <header>
      <h1 align="center">RoseWood Housing Society</h1>
    </header>

    <main id = "Homepagemain" align="center" ng-controller="HousingAppController as housedetails">
        
      <div id="Homepagedata" align="center">
        
        <button ng-click="addmember()">Add a Member</button> 
        <div ng-if="addmem">
          <h3  >Add User </h3>
           <input  placeholder="Input Owner Name" ng-model="housedetails.ownername">
           <input  placeholder="Input Flat Number" ng-model="housedetails.flatno">
           <input  placeholder="Mobile Number" ng-model="housedetails.mobilenum">
          <button ng-click="housedetails.addowner()">Add Member details</button>
        </div>
       <br> 

      </div>
      
    </main>   
  </body>
</html>
